<a href="https://colab.research.google.com/github/HARITHA-14/pythonlab/blob/main/08_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Change the second item**

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist=["apple","banana","cherry"]
thislist[2]="mango"
print(thislist)

['apple', 'banana', 'mango']

**Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon"**

In [3]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [9]:
thislist=["banana","cherry","mango","grapes"]
thislist[2:3]="balackcurrent","watermelon"
print(thislist)

['banana', 'cherry', 'balackcurrent', 'watermelon', 'grapes']

**Change the second value by replacing it with two new values**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [14]:
thislist=["1","2","3","4","5"]
thislist[3:5]=["7","8"]
print(thislist)

['1', '2', '3', '7', '8']

**Change the second and third value by replacing it with one value**

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [20]:
thislist=["apple","cherry","mango"]
thislist[2:3]=["watermelon"]
print(thislist)

['apple', 'cherry', 'watermelon']

**Insert "watermelon" as the third item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

**Using the append() method to append an item**

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [23]:
thislist=["apple","banana","cherry"]
thislist.append("mango")
print(thislist)

['apple', 'banana', 'cherry', 'mango']

**Insert an item as the second position**

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

**Add the elements of tropical to thislist**

In [27]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya","grape"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'grape']

**Add elements of a tuple to a list**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

**Remove "banana"**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

**Remove the second item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

**Remove the last item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

**Remove the first item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

**Delete the entire list**

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the list content**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]