<a href="https://colab.research.google.com/github/HARITHA-14/pythonlab/blob/main/List3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print all items in the list, one by one**

In [2]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Print all items by referring to their index number**

In [16]:
thislist = ["banana", "cherry","kiwi"]
for i in range(len(thislist)):
  print(thislist[i])

banana
cherry
kiwi

**Print all items, using a while loop to go through all the index numbers**

In [7]:
thislist = ["mango","apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

mango
apple
banana
cherry

**A short hand for loop that will print all items in a list**

In [18]:
thislist = ["apple", "banana", "cherry"]
x="apple"
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

**Sort the list alphabetically**

In [21]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

**Sort the list numerically**

In [20]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

**Sort the list descending**

In [19]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

**Sort the list descending**

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**Sort the list based on how close the number is to 50**

In [11]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

**Case sensitive sorting can give an unexpected result**

In [13]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

**Perform a case-insensitive sort of the list**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

**Reverse the order of the list items**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

**Make a copy of a list with the copy() method**

In [29]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

**Make a copy of a list with the list() method**

In [34]:
thislist = ["apple", "banana", "cherry","3*5"]
mylist =["1","2","3"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry', '3*5']

**Join two list**

In [27]:
list1 = ["3", "4", "5"]
list2 = ["1", "2", "3"]

list3 = list1 + list2
print(list3)

['3', '4', '5', '1', '2', '3']

**Append list2 into list1**

In [32]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

**Use the extend() method to add list2 at the end of list1**

In [33]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list2.extend(list1)
print(list2)

[1, 2, 3, 'a', 'b', 'c']

In [38]:
thislist = ["apple","banana","blueberry"]
mylist = ["dharshini"]
thislist.extend(mylist)
print(thislist)

['apple', 'banana', 'blueberry', 'dharshini']